---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: "Omnes";
  src: url("/fonts/omnes-regular-webfont.eot");
  src: url("/fonts/omnes-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/omnes-regular-webfont.woff") format("woff"),
       url("/fonts/omnes-regular-webfont.ttf") format("truetype"),
       url("/fonts/omnes-regular-webfont.svg#omnes-regular-webfont") format("svg");
}

// Our variables
$base-font-family: "Omnes", sans-serif;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$code-font-size:  $base-font-size * 0.7;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: white;
$brand-color:      #219ed9;
$brand-contrast-color:      white;

$grey-color:       #e5ecf0;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// custom bits
a.button {
  display: block;
  padding: 20px 30px;
  background-color: $brand-color;
  color: white;
  border-radius: 10px;
  font-size: 1.25em;
  margin: 1em auto;
  width: 12em;
  text-align: center;
  transition: background-color .2s;
}
a.button:hover {
  background-color: darken($brand-color, 15%);
  transition: background-color .2s;
}
